/* Reset some default browser styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.error-code {
    font-size: 100px;
    color: #333;
}

.error-message {
    font-size: 24px;
    color: #666;
    margin-top: 10px;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
}

.home-link:hover {
    background-color: #0056b3;
}
