<style>
   
</style>
<!-- 
<br><br><br><br> -->
<div class="container-sm">
    <div class="col-md-6 offset-md-3 container-sm">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" class="row g-3 form-container container-sm">
            <div class="form-group col-md-12">
                <label><b>Project Name</b></label>
                <input type="text" class="form-control" id="fname" [(ngModel)]="project.project_name" required minlength="3"
                    name="fname" #fname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fname.errors }" />
                <div *ngIf="f.submitted && fname.errors" class="invalid-feedback">
                    <div *ngIf="fname.errors['required']">Project name is required</div>
                    <div *ngIf="fname.errors['minlength']">Project Name minimum 3 characters are required!!!</div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label><b>Starting Date</b></label>
                <input required type="date" class="form-control" id="joiningDate" [(ngModel)]="project.project_start_date"
                    name="joiningDate" required #joiningDate="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && joiningDate.errors }">
                <div *ngIf="f.submitted && joiningDate.errors" class="invalid-feedback">
                    <div *ngIf="joiningDate.errors['required']">Start Date is required</div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <label><b>Completion Date</b></label>
                <input required type="date" class="form-control" id="joiningDate" [(ngModel)]="project.project_end_date"
                    name="joiningDate" required #joiningDate="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && joiningDate.errors }">
                <div *ngIf="f.submitted && joiningDate.errors" class="invalid-feedback">
                    <div *ngIf="joiningDate.errors['required']">End Date is required</div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <button class="btn btn-success full-width-button" type="submit">Submit</button>
            </div>

            <div class="col-md-12">
                <button type="button" (click)="goToProjectList()" class="btn btn-danger full-width-button">Cancel</button>
            </div>
        </form>
    </div>
</div>
